<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="container" style="background:#FFFFF0;">
    <a th:href="@{'/recipe'}" method="get">
        <button class="btn btn-default">Home</button>
    </a>
    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>

    <hr/>

    <form method="post" style="max-width:500px;" th:object="${form}" action="/recipe/add-rating">

        <div class="form-group">
            <label th:for="rating">Rating</label>
            <select class="form-control" name="rating" id="rating">
                <option value="0" selected="selected">---Select---</option>
                <option value="1">Poor</option>
                <option value="2">Below Average</option>
                <option value="3">Average</option>
                <option value="4">Good</option>
                <option value="5">Excellent</option>
            </select>

            <div class="form-group">
                <label th:for="comment">Comment</label>
                <textarea class="form-control" th:field="*{comment}"></textarea>
                <span th:errors="*{comment}" class="error"></span>
            </div>
            <input type="hidden" name="recipeId" th:value="*{recipe.id}"/>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
    <hr/>
</div>

</body>
</html>