<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>
<div class="content">
    <div class="header">
        <h2 th:text="${title}">Default title</h2>
    </div>
    <div class="rows">
        <div class="column side" style="background-color:#ccc;">
            <form method="post" style="max-width:500px;" th:object="${recipe}">
                <div class="row">
                    <div class="col-25">
                        <label th:for="recipeName">Title</label>
                    </div>
                    <div class="col-75">
                        <input th:field="*{recipeName}" placeholder="Title" />
                    </div>
                    <span th:errors="*{recipeName}" class="error"></span>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label th:for="courseName">Course</label>
                    </div>
                    <div class="col-75">
                        <select name="courseId" required="required">
                            <option value="">--Please choose a Course--</option>
                            <option th:each="course : ${courses}"
                                    th:text="${course.courseName}"
                                    th:value="${course.id}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label th:for="category">Category</label>
                    </div>
                    <div class="col-75">
                        <select name="categoryId" required="required">
                            <option value="">--Please choose a Category--</option>
                            <option th:each="category : ${categories}"
                                    th:text="${category.categoryName}"
                                    th:value="${category.id}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label th:for="servingSize">Serving Size</label>
                    </div>
                    <div class="col-75">
                        <input th:field="*{servingSize}" placeholder="Serving size.."/>
                    </div>
                    <span th:errors="*{servingSize}" class="error"></span>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label th:for="prepTime">Prep Time</label>
                    </div>
                    <div class="col-75">
                        <input th:field="*{prepTime}" placeholder="Prep Time" />
                    </div>
                    <span th:errors="*{prepTime}" class="error"></span>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label th:for="cookTime">Cook Time</label>
                    </div>
                    <div class="col-75">
                        <input th:field="*{cookTime}" placeholder="Cook Time"/>
                    </div>
                    <span th:errors="*{cookTime}" class="error"></span>

                </div>

                <div class="row">
                    <div class="col-25">
                        <label th:for="ingredient">Ingredients And Quantity</label>
                    </div>
                    <div class="col-75">
                        <textarea th:field="*{ingredient}"  style="height:200px"></textarea>
                    </div>
                    <span th:errors="*{ingredient}" class="error"></span>

                </div>
                <div class="row">
                    <div class="col-25">
                        <label th:for="direction">Direction</label>
                    </div>
                    <div class="col-75">
                        <textarea th:field="*{direction}" placeholder="Cooking method.." style="height:200px"></textarea>
                    </div>
                    <span th:errors="*{direction}" class="error"></span>

                </div>
                <div class="row">
                    <input type="submit" value="Create"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="sidenav">
    <a href="/recipe/add">Add Recipe</a>
    <!--<a href="/recipe/remove">Delete Recipe(s)</a>-->
</div>
</body>
</html>