<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="content">
    <div class="header">
        <h1 th:text="${title}">Default title</h1>
    </div>


    <p th:unless="${recipes} and ${recipes.size()}">no recipes :-(</p>
    <table class="table">
        <tr th:each="recipe : ${recipes}">
        <tr>
            <td><a th:href="@{'/recipe/single/' + ${recipe.id}}"
                   th:text="${recipe.recipeName}"
                   th:id="${recipe.id}"></a></td>
            <td><a th:href="@{'/recipe/edit/'+${recipe.id}}">Edit</a></td>
        </tr>
        </tr>
    </table>
</div>

</body>
</html>