<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="content">
    <div class="header">
        <h1 th:text="${title}">Default title</h1>
    </div>
<hr/>

    <p th:unless="${recipes} and ${recipes.size()}">no recipes :-(</p>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Modify</th>
            <th>Detail</th>
            <th>Remove</th>
            <th>View Ratings/comments</th>
        </tr>

        </thead>
        <tr th:each="recipe : ${recipes}">
            <tr>
                <td th:text="${recipe.recipeName}"
                    th:id="${recipe.id}"></td>
                <td>
                    <form th:action="@{'/recipe/edit/'+${recipe.id}}" th:object="${recipe}" method="get">
                        <button>Edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/recipe/single/'+${recipe.id}}" th:object="${recipe}" method="get">
                        <button>View</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/recipe/delete/'+${recipe.id}}" th:object="${recipe}" method="post">
                        <button type="submit" onClick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </td>
                <td  th:id="${recipe.id}"><a th:href="@{'/rate/recipe?id=' + ${recipe.id}}">
                    <button>View Ratings</button></a></td>
            </tr>
        </tr>

    </table>
    <tr>
        <hr />
        <td>
            <h3></h3>
            <form th:action="@{'/rate/add'}" th:object="${rate}" method="get">
                <button>Comment here</button>
            </form>
        </td>
    </tr>
</div>
<nav th:fragment="navigation">
    <div class="sidenav">
        <a href="/recipe/add">Add Recipe</a>
        <!--<a href="/recipe/remove">Delete Recipe(s)</a>-->
        <div class="righttopnav">
            <form action="/search/results">
                <input name="searchTerm" type="text" placeholder="Search.." id="searchTerm"/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</nav>
</body>
</html>