<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="container" style="background:#FFFFF0;">
    <a th:href="@{'/recipe'}" method="get">
        <button class="btn btn-default">Home</button>
    </a>
    <div class="header">
        <center style="font-size:30px;" th:text="${#strings.capitalize(title)}">Default title</center>
    </div>

    <hr/>

    <p th:unless="${recipes} and ${recipes.size()}">no recipes :-(</p>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>

        </thead>
        <tr th:each="recipe : ${recipes}">
            <tr>
                <div class="btn-group">
                    <td  th:id="${recipe.id}"><a th:href="@{'/all/single/'+${recipe.id}}">
                        <button type="button" class="btn btn-info" th:object="${recipe}" method="get"
                                th:text="${#strings.capitalize(recipe.recipeName)}"></button></a>
                            <span class="badge" th:text="${average}"></span>
                    </td>
                </div>
            </tr>
        </tr>

    </table>
    <hr />
</div>

</body>
</html>