<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="container" style="background:#FFFFF0;">
    <a th:href="@{'/recipe'}" method="get">
        <button class="btn btn-default">Home</button>
    </a>

    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>
    <div class="btn-group">
        <td  th:id="${recipe.id}"><a th:href="@{'/recipe/add-rating/' + ${recipe.id}}">
            <button type="button" class="btn btn-info">Comment</button></a>
        </td>
    </div>
    <hr/>
    <div class="single" th:each = "i : ${recipe}">
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <td th:id="${i.id}"
                    th:text="${i.recipeName}"></td>
            </tr>
            <tr>
                <th>Course</th>
                <td th:text="${course.courseName}"></td>
            </tr>
            <tr>
                <th>Category</th>
                <td th:text="${category.categoryName}"></td>
            </tr>
            <tr>
                <th>Serving Size</th>
                <td th:text="${i.servingSize}"></td>
            </tr>
            <tr>
                <th>Prep Time</th>
                <td th:text="${i.prepTime}"></td>
            </tr>
            <tr>
                <th>CookTime</th>
                <td th:text="${i.cookTime}"></td>
            </tr>

            <tr>
                <th>Direction</th>
                <td th:text="${i.direction}"></td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
            </tr>
            <tr th:each = "list : ${ingredientLists}">

            <tr>
                <td th:text="${list.ingredient.ingredientName}"></td>
                <td th:id="${list.id}"
                    th:text="${list.amount}"></td>
            </tr>
            </tr>
        </table>
        <h5></h5>
        <hr />
    </div>

</div>

</body>
</html>