<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="container" style="background:#FFFFF0;">
    <a th:href="@{'/recipe'}" method="get">
        <button class="btn btn-default btn-sm">Home</button>
    </a>

    <div class="header">
        <center style="font-size:30px;" th:text="${#strings.capitalize(title)}">Default title</center>
    </div>
    <div class="btn-group">
        <a th:href="@{'/all/edit/'+${recipe.id}}" th:object="${recipe}" method="get">
            <button type="button" class="btn btn-primary btn-sm">Edit</button>
        </a>
        <td  th:id="${recipe.id}"><a th:href="@{'/all/add-rating/' + ${recipe.id}}">
            <button type="button" class="btn btn-info btn-sm">Comments
            <span class="badge" th:text="${recipe.rateCommentList.size()}"></span></button></a>
        </td>
        <td  th:id="${recipe.id}"><a th:href="@{'/all/view-rating/' + ${recipe.id}}">
            <button type="button" class="btn btn-info btn-sm">Ratings
            <span class="badge" th:text="${average}"></span></button></a>
        </td>
        <a th:href="@{'/all/delete/'+${recipe.id}}" th:object="${recipe}" method="post">
            <button type="button" class="btn btn-danger btn-sm" onClick="return confirm('Are you sure?')">Delete</button>
        </a>
    </div>
    <hr/>
    <div class="single" th:each = "i : ${recipe}">
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <td th:id="${i.id}"
                    th:text="${#strings.capitalize(i.recipeName)}"></td>
            </tr>
            <tr>
                <th>Course</th>
                <td th:text="${#strings.capitalize(course.courseName)}"></td>
            </tr>
            <tr>
                <th>Category</th>
                <td th:text="${#strings.capitalize(category.categoryName)}"></td>
            </tr>
            <tr>
                <th>Servings</th>
                <td th:text="${i.servingSize}"></td>
            </tr>
            <tr>
                <th>Prep Time</th>
                <td th:text="${i.prepTime}"></td>
            </tr>
            <tr>
                <th>CookTime</th>
                <td th:text="${i.cookTime}"></td>
            </tr>
        </table>
        <td>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Direction</button>
        <div id="demo" class="collapse" th:text="${#strings.capitalize(i.direction)}"></div></td>


        <table class="table table-striped">
            <tr>
                <p th:unless="${recipe.ingredientAndQuantities.size()}">
                    <a style="color:red;" th:href="'/all/add-ingredient/' + ${recipe.id}">
                        Add Ingredients and quantities</a>
                </p>
            </tr>

            <p th:if="${recipe.ingredientAndQuantities.size()}">
                <tr>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                </tr>

                <tr th:each = "list : ${ingredientLists}">

                <tr>
                    <td th:text="${#strings.capitalize(list.ingredient.ingredientName)}"></td>
                    <td th:id="${list.id}"
                        th:text="${list.amount}"></td>
                </tr>
                </tr>
            </p>
        </table>
        <h5></h5>
        <hr />
    </div>

</div>

</body>
</html>