<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="container" style="background:#FFFFF0;">
    <a th:href="@{'/recipe'}" method="get">
        <button class="btn btn-default">Home</button>
    </a>
    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>
    <div class="alert alert-success">
        <strong th:text="${message}">Success!</strong>
    </div>
    <a th:href="'/recipe/add-items/' + ${recipe.id}">
        <button class="btn btn-success">Add Ingredients To Recipe</button>
    </a>
    <hr/>
    <p th:unless="${recipe.rateCommentList.size()}">No Ratings</p>

    <table class="table">
        <tr>
            <th>Rating</th>
            <th>Comment</th>
        </tr>

        <tr th:each="ratings : ${recipe.rateCommentList}">
        <tr th:each="rating : ${ratings}">
            <td th:id="${rating.id}" th:text="${rating.rating}"></td>
            <td th:text="${rating.comment}"></td>
        </tr>
        </tr>
    </table>

    <hr/>
</div>

</body>
</html>