<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="container" style="background:#FFFFF0;">
    <a th:href="@{'/recipe'}" method="get">
        <button class="btn btn-default">Home</button>
    </a>
    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>

    <hr/>
    <form method="post" style="max-width:500px;" th:object="${add}">
        <div class="form-group">
            <label th:for="recipeName">Recipe</label>
            <select class="form-control" name="recipeId" required="required">
                <option value="">--Please choose a Recipe--</option>
                <option th:each="recipe : ${recipes}"
                        th:text="${recipe.recipeName}"
                        th:value="${recipe.id}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="ingredientName">Ingredient</label>
            <select class="form-control" name="ingredientId" required="required">
                <option value="">--Please choose an Ingredient--</option>
                <option th:each="ingredient : ${ingredients}"
                        th:text="${ingredient.ingredientName}"
                        th:value="${ingredient.id}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="quantity">Quantity</label>
            <input type="text" class="form-control" th:field="*{quantity}" placeholder="Quantity" />
            <span th:errors="*{quantity}" class="error"></span>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
    <hr/>
</div>

</body>
</html>