<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="container" style="background:#FFFFF0;">
    <a th:href="@{'/recipe'}" method="get">
        <button class="btn btn-default">Home</button>
    </a>
    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>
    <div class="alert alert-success">
        <strong th:text="${message}">Success!</strong>
    </div>

    <hr/>

    <p th:unless="${ingredientLists} and ${ingredientLists.size()}">No Ingredients added yet</p>
    <a th:href="@{'/addIngredients/add'}" th:object="${addIngredients}" method="get">
        <button class="btn btn-primary">Add Ingredients To Recipe</button>
    </a>
    <table class="table table-striped">
        <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
            <th>Remove</th>

        </tr>
        <tr th:each = "list : ${ingredientLists}">

        <tr>
            <td th:text="${list.ingredient.ingredientName}"></td>
            <td th:id="${list.id}"
                th:text="${list.quantity}"></td>
            <td>
                <a th:href="@{'/addIngredients/delete/'+${list.id}}" th:object="${addIngredients}" method="post">
                    <button type="submit" class="btn btn-primary" onClick="return confirm('sure?')">Delete</button>
                </a>
            </td>
        </tr>
        </tr>
    </table>
    <hr/>

</div>

</body>
</html>