<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="container" style="background:#FFFFF0;">
    <a th:href="@{'/ingredient'}" method="get">
        <button class="btn btn-default">Home</button>
    </a>
    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>
    <hr/>
    <div class="form-group">
        <form method="post" style="max-width:500px;" th:object="${ingredient}">
            <label th:for="ingredientName">Title</label>
            <input type="text" class="form-control" th:field="*{ingredientName}" />
            <span th:errors="*{ingredientName}" class="error"></span>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <hr/>
</div>

</body>
</html>