<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="container" style="background:#FFFFF0;">
    <div class="alert alert-success">
        <strong th:text="${message}">Success!</strong>
    </div>
    <a th:href="@{'/ingredient'}" method="get">
        <button class="btn btn-default btn-sm">Home</button>
    </a>
    <a th:href="@{'/ingredient/add'}" th:object="${ingredient}" method="get">
        <button class="btn btn-success btn-sm">Add an Ingredient</button>
    </a>
</div>
</body>
</html>