<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="content">
    <div class="header">
        <h1 th:text="${title}">Default title</h1>
    </div>
    <td>
        <form th:action="@{'/recipe'}" method="get">
            <button>Home</button>
        </form>
    </td>
    <hr />
    <p th:unless="${recipes} and ${recipes.size()}">None yet</p>
    <table class="table">
        <tr th:each="recipe : ${recipes}">
        <tr>
            <td th:id="${recipe.id}" th:text="${recipe.recipeName}"></td>
            <td  th:id="${recipe.id}"><a th:href="@{'/rate/recipe?id=' + ${recipe.id}}">
                <button>View Ratings</button></a></td>
        </tr>
        </tr>

    </table>
    <hr />
    <!--<td>
        <form th:action="@{'/rate/add'}" th:object="${rate}" method="get">
            <button>Comment here</button>
        </form>
    </td>-->
</div>

</body>
</html>