<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="container">
    <a th:href="@{'/recipe'}" method="get">
        <button class="btn btn-default">Home</button>
    </a>
    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>

    <hr />
    <p th:unless="${recipes} and ${recipes.size()}">None yet</p>
    <table class="table table-striped">
        <tr th:each="recipe : ${recipes}">
        <tr>
            <td th:id="${recipe.id}" th:text="${recipe.recipeName}"></td>
            <td  th:id="${recipe.id}"><a th:href="@{'/rate/recipe?id=' + ${recipe.id}}">
                <button type="button" class="btn btn-primary">View Ratings</button></a>
            </td>
        </tr>
        </tr>
    </table>
    <hr />
</div>

</body>
</html>