<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="container" style="background:#FFFFF0;">
    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>
    <div class="alert alert-success">
        <strong th:text="${message}">Success!</strong>
    </div>
    <a th:href="@{'/recipe'}" method="get">
        <button class="btn btn-default">Home</button>
    </a>
    <hr/>
    <a th:href="@{'/rate/add'}" th:object="${rate}" method="get">
        <button class="btn btn-primary">Comment here</button>
    </a>
    <p th:unless="${ratings} and ${ratings.size()}">Rate/comment a recipe</p>
    <table class="table table-striped">

        <tr>
            <th>Rating</th>
            <th>Comment</th>
        </tr>
        <tr th:each="rating : ${ratings}">
            <td th:text="${rating.rating}"
                th:id="${rating.id}">
            </td>
            <td th:text="${rating.comment}"></td>
        </tr>

    </table>
    <hr/>
</div>
</body>
</html>