<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="content">
    <div class="header">
        <h2 th:text="${title}">Default title</h2>
    </div>
    <td>
        <form th:action="@{'/course'}" method="get">
            <button>Home</button>
        </form>
    </td>
    <hr/>
    <div class="rows">
        <div class="column side" style="background-color:#ccc;">
            <form method="post" style="max-width:500px;" th:object="${course}">
                <div class="row">
                    <div class="col-25">
                        <label th:for="courseName">Title</label>
                    </div>
                    <div class="col-75">
                        <input th:field="*{courseName}" />
                    </div>
                    <span th:errors="*{courseName}" class="error"></span>
                </div>
                <!--<div class="row">
                    <div class="col-25">
                        <label th:for="pic">Image</label>
                    </div>
                    <div class="col-75">
                        <input type="file" name="pic" id="pic"/>
                    </div>
                </div>-->
                <div class="row">
                    <input type="submit" value="Create"/>
                </div>
            </form>
        </div>
    </div>
    <hr/>
</div>

</body>
</html>