<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container" style="background:#FFFFF0;">
    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>

    <p th:unless="${courses} and ${courses.size()}">no courses :-(</p>

    <table class="table table-striped">
        <tr th:each="course : ${courses}">
        <tr>
            <td th:id = "${course.id}" >
                <a type="button" class="btn btn-primary btn-sm" th:href="@{'/all/course?id=' + ${course.id}}"
                   th:text="${#strings.capitalize(course.courseName)}"></a>
                    <span class="badge" th:text="${course.recipes.size()}"></span>
                </td>
        <!--<td>
            <a th:href="@{'/course/delete/'+${course.id}}" th:object="${course}" method="post">
                <button type="submit" class="btn btn-danger" onClick="return confirm('sure?')">Delete</button>
            </a>
        </td>-->
        </tr>
        </tr>
    </table>
    <hr />
</div>

</body>
</html>