<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <div class="title">
        <title th:text="${title}">My Recipes</title></div>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3 .3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <div class="topnav">
        <a class="active" href="/recipe">Home</a>
        <a href="/course">Courses</a>
        <a href="/category">Categories</a>
        <a href="/rate">Ratings</a>
        <!--
        <a href="/ingredient">Ingredients</a>
        <a href="/user">Users</a>

        <div class="righttopnav">
            <a href="/user/add">Sign-up</a>
            <a href="/user/login">User Login</a>
        </div>-->
    </div>

</nav>

<nav th:fragment="navigation">
    <div class="sidenav">
        <a href="/recipe/add">Add Recipe</a>
        <!--<a href="/recipe/remove">Delete Recipe(s)</a>-->
    </div>

</nav>

</body>
</html>